<nb-card>
    <nb-card-header>
      Lista de Hóspedes
    </nb-card-header>
  
    <nb-card-body>
      <button style="margin-bottom: 1rem;" nbButton status="primary" (click)="openModalHospede(null)">Novo</button>
  
      <ng2-smart-table #ng2TbHospede
        [settings]="tbHospedeConfig"
        [source]="tbHospedeData"
        (edit)="openModalHospede($event)"
        (delete)="openModalExclusion($event)">
      </ng2-smart-table>
  
    </nb-card-body>
  </nb-card>
  
  <ng-template #dialogHospede let-data let-ref="dialogRef">
    <nb-card style="width: 25em">
      <nb-card-header>Cadastro de Hóspede ({{ findOperation() }})</nb-card-header>
      <nb-card-body>
        <form [formGroup]="formHospede" autocomplete="off">
  
          <div class="form-group">
            <label for="nome">Nome *</label>
            <input class="form-control" id="nome" formControlName="nome">
          </div>
  
          <div class="form-group">
            <label for="email">E-mail *</label>
            <input id="email" class="form-control" formControlName="email">
          </div>
  
          <div class="form-group">
            <label for="telefone">Telefone *</label>
            <input id="telefone" class="form-control" formControlName="telefone">
          </div>
  
          <!-- Add other form controls as needed -->
  
          <div class="form-group" [hidden]="isAdd()">
            <label for="idHospede">ID do Hóspede</label>
            <input id="idHospede" class="form-control" formControlName="idHospede" readonly>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="btnSave($event);">Salvar</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  
  <ng-template #dialogDelete let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Excluir Hóspede</nb-card-header>
      <nb-card-body>
        Tem certeza que deseja excluir o hóspede <span style="font-weight: bold">{{ data }}</span>?
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="danger" (click)="btnDelete($event);">Excluir</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  